body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Pardon my markup */
.App-header > * {
  width: 700px;
}

ul {
  text-align: left;
  line-height: 1.7em;
}

a {
  color: white;
}

.Spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}

.TopLeftAbsoluteSpinner {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  transform: scale(1.2);
  visibility: hidden;
  animation: 0s linear 0.5s forwards makeVisible;
}

@keyframes makeVisible {
  to {
    visibility: visible;
  }
}

.BigSpinner {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.DelayedWaitCursor {
  animation: 0s linear 0.5s forwards makeWaiting;
}

@keyframes makeWaiting {
  to {
    cursor: wait;
  }
}

